<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars list</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4">
    <h2>List of Cars</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>№</th>
            <th>Make</th>
            <th>Model</th>
            <th>Series</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car : ${cars}">
            <td th:text="${car.id}"></td>
            <td th:text="${car.make}"></td>
            <td th:text="${car.model}"></td>
            <td th:text="${car.series}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>